<div class="footer">
  <div class="footerBox">
    <div class="CUFE-footer">CUFE</div>
    <div class="MAGAZINE-footer">MAGAZINE</div>
    <div class="text-in-footerBox">
      © 2020 by Fady Mohsen.<br />Proudly created by Gilany
    </div>
  </div>
  <div class="footerBox">
    <div class="footerArticle">Hours of Operation</div>
    <div class="footerText">
      Mon-Thu: 9AM to 8PM <br />
      Friday: 9AM to 3PM <br />
      Sat-Sun: Closed
    </div>
  </div>
  <div class="footerBox">
    <div class="footerArticle">Contact Us</div>
    <div class="footerText">
      500 Terry Francois Street <br />
      San Francisco, CA 94158 <br />
      <br />
      Mail: info@mysite.com <br />
      Tel: 123-456-7890
    </div>
  </div>
  <div class="footerBox">
    <div class="footerArticle">القائمة</div>
    <div class="footerText">
      <li><a href="#">الرئيسة</a></li>
      <li><a href="#">من نحن</a></li>
      <li><a href="#">أعدادنا</a></li>
      <li><a href="#">تواصل معنا</a></li>
    </div>
  </div>
</div>

<div class="topnav">
  <a href="#">تواصل معنا</a>
  <a href="/our_editions">أعدادنا</a>
  <a href="#">من نحن</a>
  <a href="/" style="color: yellowgreen;">الرئيسة</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
  <script src="js/topnav.js"></script>
</div>
</body>

</html>