<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/our_editions.css" />
  <title>CUFE Magazine | أعدادنا</title>
</head>

<body>

  <div class="icon-bar" style="z-index: 1;">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
  </div>

  <div class="vertical" style="z-index: 1;">SCROLL <strong>→</strong></div>

  <div style="position: relative;">
    <div class="container"></div>
    <div class="topnav">
      <a href="#">تواصل معنا</a>
      <a href="/our_editions">أعدادنا</a>
      <a href="#">من نحن</a>
      <a href="/" style="color: yellowgreen;">الرئيسة</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
      <script src="js/topnav.js"></script>
  </div>

  <div class="editionContainer">
    <div class="editionRead">
      <div class="editionRead-Img4"></div>
      <div class="editionRead-TextBox">
        <div class="editionRead-Text">
          العدد الرابع <br />
          <p style="font-weight: lighter;">يونيه 2020</p>
        </div>
        <div class="BookButon"><a href="#"> Book Now</a></div>
      </div>
    </div>
    <div class="editionRead">
      <div class="editionRead-Img3"></div>
      <div class="editionRead-TextBox">
        <div class="editionRead-Text">
          العدد الثالث <br />
          <p style="font-weight: lighter;">مايو 2020</p>
        </div>
        <div class="BookButon"><a href="#"> Book Now</a></div>
      </div>
    </div>
    <div class="editionRead">
      <div class="editionRead-Img2"></div>
      <div class="editionRead-TextBox">
        <div class="editionRead-Text">
          العدد الثانى <br />
          <p style="font-weight: lighter;">إبريل 2020</p>
        </div>
        <div class="BookButon"><a href="#"> Book Now</a></div>
      </div>
    </div>
    <div class="editionRead">
      <div class="editionRead-Img1"></div>
      <div class="editionRead-TextBox">
        <div class="editionRead-Text">
          العدد الأول <br />
          <p style="font-weight: lighter;">مارس 2020</p>
        </div>
        <div class="BookButon"><a href="#"> Book Now</a></div>
      </div>
    </div>
  </div>